/*MOBILE RESPONSIVE*/

@media screen and (max-width: 320px) {

  header {
    width: 100%;
    background-position: bottom;
  }

  .topNav ul {
    margin: 0;
    position: absolute;
    top: 10px;
    left: 40px;
    margin-left: auto;
    margin-right: auto;
  }


  img.spLogo {
    display: inline-block;
    width: 50px;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    top: 30px;
    left: 110px;
  }

  h1.title {
    padding-top: 100px
  }

  article {
    width: 90%;
    // background-color: white;
    padding-right: 15px;
    padding-left: 15px;
    display: block;
    clear: both;
  }

  article h1 {
    font-size: 35px;
    width: 75%;
  }

  .byline img {
    display: none;
  }

  p.blogName {
    display: none;
  }

  p.on {
    display: none;
  }

  a.blogDate {
    display: inline;
  }

  article p {
    margin-top: 30px;
    margin-bottom: 0;
  }

  ul.blogButtons {
    margin-top: 5px;
    display: block;
    padding-left: 0;
    margin-left: 5px;
  }

  .blogButtons a#comments, a#readLater, a#share {
    display: none;
  }

  .blogButtons li {
    display: inline-block;
    width: 100%;
  }

  #commentsLi::after {
    content: url(../img/bubblesmall.png);
    position: relative;
    background: #253859;
    background-size: 800px;
    padding-top: 8px;
    padding-right: 5px;
    padding-left: 7px;
    margin-left: -5px;
    top: 2px;
  }

  #readLaterLi::after {
    content: url(../img/cloudsmall.png);
    position: relative;
    background: #253859;
    background-size: 800px;
    padding-top: 8px;
    padding-right: 5px;
    padding-left: 7px;
    margin-left: -5px;
    top: 2px;
  }

  #shareLi::after {
    content: url(../img/sharesmall.png);
    background: #253859;
    background-size: 800px;
    padding-top: 6px;
    padding-right: 5px;
    padding-bottom: 2px;
    padding-left: 7px;
    margin-left: -5px;

  }

  article::after {
    content: '';
  }

  aside {
    width: 90%;
    display: block;
  }

  section.aboutAnne {
    display: none;
  }

  aside img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .ad {
    width: 100%;
    margin-right: auto;
  }

  .sideAd {
    @include postCoverMixin (url("../img/padleboarding.png"));
    @include backgroundPos;
  }

  a.adLink {
    margin-right: 0;
  }

  .popularPosts {
    margin-top: 10px;
    margin-left: 20px;

    h1 {
      font-size: 20px;
      display: block;
      margin-right: auto;
      margin-left: auto;
    }
  }

  .postCover {
    width: 90%;
  }

  h4.postTitle {
    @include posth4;
  }


  footer {
    top: 3650px;
    width: 100%;
    display: block;
  }

  .footerLockup {
    display: block;
    position: relative;
    top: 90px;
    width: 70%;
    margin-left: 50px;
  }

  .ironYardLogo {
    display: block;
    height: 75px;
    width: 75px;
    margin-left: 70px;
  }

  p.copyrightText {
    padding: 0;
    font-size: 14px;
    text-align: center;
    margin-top: 0;
  }

  .footerNav {
    display: block;
    text-align: center;
    position: relative;
    top: -145px;
    right: 20px;

    li {
      font-size: 14px;
    }

    a {
      font-size: 12px;
    }
  }

}
