// ------------$VARIABLES----------->
$subhead-color: #253859;

// <------------@MIXINS------------>
@mixin col($width) {
  width: $width;
  vertical-align: top;
  display: inline-block;
}

@mixin postCoverMixin ($imgPath: none, $rgba1: rgba(30, 144, 255, 0.45), $rgba2: rgba(30, 144, 255, 0.45)) {
  background: linear-gradient($rgba1, $rgba2), $imgPath;
}

@mixin posth4 ($color: $subhead-color) {
  display: block;
  font-size: 25px;
  font-family: 'Open Sans', Helvetica, Sans-serif;
  color: $color;
  position: relative;
  padding-top: 200px;
  margin-left: 20px;
  text-align: left;
}

@mixin backgroundPos () {
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
}
// --------------------------------
body {
  margin: 0;
  padding: 0;
}

li {
  display: inline;
  text-decoration: none;
  padding-right: 10px;
}

header {
  @include postCoverMixin (url("../img/waves.jpg"), rgba(4, 94, 184, 0.70), rgba(4, 94, 184, 0.70));
  @include backgroundPos;
  color: white;
}

.topLockup {
  display: inline-block;
  float: left;
  width: 50%;
  margin-left: 100px;
  font-family: 'PT Sans', Helvetica, sans-serif;
  color: $subhead-color;
  font-weight: bold;

    img {
      width: 40px;
      height: 40px;
      padding-left: 30px;
      padding-top: 10px;
    }

    .spLogo {
      padding-left: 20px;
      display: inline-block;
      float: left;
    }
}

.topNav {
  float: left;

  a {
    text-decoration: none;
    color: $subhead-color;
    font-weight: bold;
    font-family: 'PT Sans', Helvetica, sans-serif;

    &:hover{
      color: white;
    }
  }

  img {
    height: 20px;
    width: 20px;
    float: right;
  }
}

.title {
  margin: 0;
  width: 100%;
  display: inline-block;
  text-align: center;
}

h1.title {
  @extend title;
  padding-top: 160px;
  font-size: 65px;
  font-family: 'PT Sans', Helvetica, sans-serif;
}

h5.title {
  @extend title;
  padding-bottom: 160px;
  color: $subhead-color;
}

article {
  width: 45%;
  float: left;
  background-color: white;
  padding-left: 10%;
  padding-right: 5%;

  h1 {
    font-size: 42px;
    font-family: 'PT Sans', Helvetica, sans-serif;
    color: #253859;
    margin-bottom: 0;
  }

  p {
    line-height: 1.5em;
    color: #404040;
  }
}

.byline {
  width: 100%;
  float: left;
  display: inline-block;

  img {
    display: inline-block;
    float: left;
    width: 20px;
    height: 20px;
    border-radius: 100%;
    margin-top: 15px;
    margin-right: 15px;
  }

  p {
    display: inline-block;
    float: left;
    padding-right: 3px;
    color: #1875CC;
    font-family: 'PT Sans', Helvetica, Sans-serif;
  }

}

p.on {
color: gray;
text-decoration: none;
margin-top: -3px;
}

a.blogDate {
  display: inline-block;
  margin-top: 19px;
  text-decoration: underline;
  color: gray;

  &:hover {
    color: lightgray;
  }
}

blockquote.quote {
  color: #1875CC;
  font-family: 'PT Sans', Helvetica, Sans-serif;
  font-size: 22px;
}

ul.blogButtons {
  margin-left: -50px;
  display: inline-block;

  a {
    display: inline-block;
    margin-left: 5px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 1px;
    background-color: gray;
    text-decoration: none;
    color: white;
    font-family: 'PT Sans', Helvetica, Sans-serif;

    &:hover {
      color: white;
      background-color: #1875CC;
    }
  }
}

#comments::before {
  content: url(../img/bubblesmall.png);
  position: relative;
  background: $subhead-color;
  background-size: 800px;
  padding-top: 8px;
  padding-right: 5px;
  padding-left: 7px;
  margin-left: -5px;
  top: 2px;
}

#readLater::before {
  content: url(../img/cloudsmall.png);
  position: relative;
  background: $subhead-color;
  background-size: 800px;
  padding-top: 8px;
  padding-right: 5px;
  padding-left: 7px;
  margin-left: -5px;
  top: 2px;
}

#share::before {
  content: url(../img/sharesmall.png);
  background: $subhead-color;
  background-size: 800px;
  padding-top: 6px;
  padding-right: 5px;
  padding-bottom: 2px;
  padding-left: 7px;
  margin-left: -5px;

}

aside {
  width: 35%;
  float: left;
  background-color: white;

  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    height: 75px;
    width: 75px;
    border-radius: 100%;
  }

  ul {
    text-align: center;
  }

  h3 {
    text-align: center;
    font-family: 'PT Sans', Helvetica, Sans-serif;
    color: #1875CC;
  }

  a {
    text-decoration: none;
    color: gray;
    font-family: 'PT Sans', Helvetica, Sans-serif;

    &:hover {
      color: #404040;
    }
  }
}

.sideAd {
  display: block;
  margin-left: auto;
  margin-right: auto;
  @include postCoverMixin (url("../img/padleboarding.png"));
  @include backgroundPos;
  width: 320px;
  height: 300px;
}

a.adLink {
  display: block;
  text-align: right;
  margin-right: 55px;
  text-decoration: underline;
  font-size: 14px;
  color: gray;
}


p.adLink:hover {
  color: #404040;
}

.aboutAnne {
  text-align: left;
  padding-left: 50px;
  padding-right: 43px;
  line-height: 1.5em;
  color: #404040;

  h3 {
    text-align: left;
  }
}

.popularPosts {
  width: 100%;
  background-color: white;
  border-top: 1px solid gray;
  display: inline-block;
  font-size: 0px;
  position: relative;

  h1 {
    text-align: center;
    font-size: 36px;
    font-family: 'PT Sans', Helvetica, Sans-serif;
    color: $subhead-color;
    position: relative;
  }
}

.postCover {
  @include col (25%);
  background-repeat: no-repeat;
  background-position: center;
  height: 300px;

  a {
    text-decoration: none;
  }
}

h4.postTitle {
  @include posth4;

  &:hover {
    color: white;
  }
}

#one.postCover {
  background: url("../img/kellyslater.jpg");
}

#one.postCover:hover {
  @include postCoverMixin (url("../img/kellyslater.jpg"));
}

#two.postCover {
  background: url("../img/beer-flight.jpg");
}

#two.postCover:hover {
  @include postCoverMixin (url("../img/beer-flight.jpg"));
}

#three.postCover {
  background: url("../img/zach.jpg");
}

#three.postCover:hover {
  @include postCoverMixin (url("../img/zach.jpg"));
}

#four.postCover {
  background: url("../img/liquor.jpg");
}

#four.postCover:hover {
  @include postCoverMixin (url("../img/liquor.jpg"));
}

footer {
  background-color: #253859;
}

.ironYardLogo {
  display: inline-block;
  vertical-align: top;
  height: 75px;
  width: 75px;
  margin-left: 50px;
}

.footerLockup {
  display: inline-block;
  vertical-align: top;

  p.copyrightText {
    font-family: 'PT Sans', Helvetica, sans-serif;
    font-weight: bold;
    font-size: 12px;
    display: inline-block;
    padding-top: 20px;
    color: gray;
  }
}

.footerNav {
  display: inline-block;
  vertical-align: top;
  padding-left: 210px;
  padding-top: 10px;

  a {
    font-family: 'PT Sans', Helvetica, sans-serif;
    font-weight: bold;
    color: gray;
    text-decoration: none;
    font-size: 14px;

    &:hover {
      color: white;
    }
  }
}

// -------------@IMPORTS------------>

@import 'tablet.scss';
@import 'mobile.scss';
