$subhead-color: #253859;

@mixin col($width) {
  width: $width;
  vertical-align: top;
  display: inline-block;
}

body {
  margin: 0;
  padding: 0;
}

li {
  display: inline;
  text-decoration: none;
  padding-right: 10px;
}

header {
  background: linear-gradient(
    rgba(4, 94, 184, 0.70),
    rgba(4, 94, 184, 0.70)
    ), url("../img/waves.jpg");
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  color: white;
}

.topLockup {
  display: inline-block;
  float: left;
  width: 50%;
  margin-left: 100px;
  font-family: 'PT Sans', Helvetica, sans-serif;
  color: $subhead-color;
  font-weight: bold;

    img {
      width: 40px;
      height: 40px;
      padding-left: 30px;
      padding-top: 10px;
    }

    .spLogo {
      padding-left: 20px;
      display: inline-block;
      float: left;
    }
}

.topNav {
  float: left;

  a {
    text-decoration: none;
    color: $subhead-color;
    font-weight: bold;
    font-family: 'PT Sans', Helvetica, sans-serif;

    &:hover{
      color: white;
    }
  }

  img {
    height: 20px;
    width: 20px;
    float: right;
  }
}

.title {
  margin: 0;
  width: 100%;
  display: inline-block;
  text-align: center;
}

h1.title {
  @extend title;
  padding-top: 160px;
  font-size: 65px;
  font-family: 'PT Sans', Helvetica, sans-serif;
}

h5.title {
  @extend title;
  padding-bottom: 160px;
  color: $subhead-color;
}

article {
  width: 45%;
  float: left;
  background-color: white;
  padding-left: 10%;
  padding-right: 5%;

  h1 {
    font-size: 42px;
    font-family: 'PT Sans', Helvetica, sans-serif;
    color: #253859;
    margin-bottom: 0;
  }

  p {
    line-height: 1.5em;
    color: #404040;
  }
}

.byline {
  width: 100%;
  float: left;
  display: inline-block;

  img {
    display: inline-block;
    float: left;
    width: 20px;
    height: 20px;
    border-radius: 100%;
    margin-top: 15px;
    margin-right: 15px;
  }

  p {
    display: inline-block;
    float: left;
    padding-right: 3px;
    color: #1875CC;
    font-family: 'PT Sans', Helvetica, Sans-serif;
  }

}

/*p.on {
color: gray;
text-decoration: underline;
margin-top: -3px;
}*/

a.blogDate {
  display: inline-block;
  margin-top: 19px;
  text-decoration: underline;
  color: gray;

  &:hover {
    color: lightgray;
  }
}

blockquote.quote {
  color: #1875CC;
  font-family: 'PT Sans', Helvetica, Sans-serif;
  font-size: 22px;
}

ul.blogButtons {
  margin-left: -50px;
  display: inline-block;

  a {
    display: inline-block;
    margin-left: 5px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 1px;
    background-color: gray;
    text-decoration: none;
    color: white;
    font-family: 'PT Sans', Helvetica, Sans-serif;

    &:hover {
      color: white;
      background-color: #1875CC;
    }
  }
}

#comments::before {
  content: url(../img/bubblesmall.png);
  position: relative;
  background: $subhead-color;
  background-size: 800px;
  padding-top: 8px;
  padding-right: 5px;
  padding-left: 7px;
  margin-left: -5px;
  top: 2px;
}

#readLater::before {
  content: url(../img/cloudsmall.png);
  position: relative;
  background: $subhead-color;
  background-size: 800px;
  padding-top: 8px;
  padding-right: 5px;
  padding-left: 7px;
  margin-left: -5px;
  top: 2px;
}

#share::before {
  content: url(../img/sharesmall.png);
  background: $subhead-color;
  background-size: 800px;
  padding-top: 6px;
  padding-right: 5px;
  padding-bottom: 2px;
  padding-left: 7px;
  margin-left: -5px;

}

aside {
  width: 35%;
  float: left;
  background-color: white;

  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  ul {
    text-align: center;
  }

  h3 {
    text-align: center;
    font-family: 'PT Sans', Helvetica, Sans-serif;
    color: #1875CC;
  }

  a {
    text-decoration: none;
    color: gray;
    font-family: 'PT Sans', Helvetica, Sans-serif;

    &:hover {
      color: #404040;
    }
  }
}

.sideAd {
  display: block;
  margin-left: auto;
  margin-right: auto;
  background: linear-gradient(
  rgba(30, 144, 255, 0.45),
  rgba(30, 144, 255, 0.45)
  ), url("../img/padleboarding.png");
  background-repeat: no-repeat;
  background-position: center;
  width: 320px;
  height: 300px;
}

a.adLink {
  display: block;
  text-align: right;
  margin-right: 55px;
  text-decoration: underline;
  font-size: 14px;
  color: gray;
}

p.adLink:hover {
  color: #404040;
}


img.headshot {
  margin-top: 50px;
  height: 75px;
  width: 75px;
  border-radius: 100%;
}

.aboutAnne {
  text-align: left;
  padding-left: 50px;
  padding-right: 43px;
  line-height: 1.5em;
  color: #404040;

  h3 {
    text-align: left;
  }
}

.popularPosts {
  width: 100%;
  background-color: white;
  border-top: 2px solid gray;
  display: inline-block;
  font-size: 0px;
  position: relative;

  h1 {
    text-align: center;
    font-size: 36px;
    font-family: 'PT Sans', Helvetica, Sans-serif;
    color: $subhead-color;
    position: relative;
  }
}

.postCover {
  @include col (25%);
  height: 300px;
  background-repeat: no-repeat;
  background-position: center;

  a {
    text-decoration: none;
  }
}

h4.postTitle {
  display: block;
  font-size: 25px;
  font-family: 'Open Sans', Helvetica, Sans-serif;
  color: $subhead-color;
  position: relative;
  padding-top: 200px;
  margin-left: 20px;
  text-align: left;

  &:hover {
    color: white;
  }
}


#one.postCover {
  background: url("../img/kellyslater.jpg");
}

#one.postCover:hover {
  background: linear-gradient(
  rgba(30, 144, 255, 0.45),
  rgba(30, 144, 255, 0.45)
  ), url("../img/kellyslater.jpg");
}

#two.postCover {
  background: url("../img/beer-flight.jpg");
}

#two.postCover:hover {
  background: linear-gradient(
  rgba(30, 144, 255, 0.45),
  rgba(30, 144, 255, 0.45)
  ),
  url("../img/beer-flight.jpg");
}

#three.postCover {
  background: url("../img/zach.jpg");
}

#three.postCover:hover {
  background: linear-gradient(
  rgba(30, 144, 255, 0.45),
  rgba(30, 144, 255, 0.45)
  ), url("../img/zach.jpg");
}

#four.postCover {
  background: url("../img/liquor.jpg");
}

#four.postCover:hover {
  background: linear-gradient(
  rgba(30, 144, 255, 0.45),
  rgba(30, 144, 255, 0.45)
  ), url("../img/liquor.jpg");
}

footer {
  background-color: #253859;
}

.ironYardLogo {
  display: inline-block;
  vertical-align: top;
  height: 75px;
  width: 75px;
  margin-left: 50px;
}

.footerLockup {
  display: inline-block;
  vertical-align: top;

  p.copyrightText {
    font-family: 'PT Sans', Helvetica, sans-serif;
    font-weight: bold;
    font-size: 12px;
    display: inline-block;
    padding-top: 20px;
    color: gray;
  }
}

.footerNav {
  display: inline-block;
  vertical-align: top;
  padding-left: 210px;
  padding-top: 10px;

  a {
    font-family: 'PT Sans', Helvetica, sans-serif;
    font-weight: bold;
    color: gray;
    text-decoration: none;
    font-size: 14px;

    &:hover {
      color: white;
    }
  }
}

/*TABLET RESPONSIVE*/

@media screen and (max-width: 600px) {
  header {
    width: 100%;
    background-position: bottom;
  }

  .topNav ul {
    margin: 0;
    position: absolute;
    top: 10px;
    left: 180px;
    margin-left: auto;
    margin-right: auto;
  }


  img.spLogo {
    display: inline-block;
    width: 50px;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: 30px;
    left: 145px;
  }

  h5.spLogo {
    display: none;
  }

  h1.title {
    font-size: 26px;
    padding-top: 40px;
  }

  h5.title {
    padding-bottom: 20px;
  }

  article {
    display: block;
    width: 90%;
    /*padding-right: 10%;*/
    margin-left: auto;
    margin-right: auto;
  }

  .blogButtons li {
    display: block;
    padding-bottom: 10px;
  }

  aside {
    display: block;
    width: 90%;
    margin-left: 20px;
  }

  .aboutAnne {
    display: none;
  }

  .popularPosts {
    width: 90%;
    margin-left: 20px;
  }

  .postCover {
    display: block;
    width: 300px;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
  }

  footer {
    margin-top: 10px;
  }

  .footerNav {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 20px;
    padding-left: 0;
    padding-top: 0;
    width: 75%;
    font-size: 24px;
    text-align: center;
  }
}

/*MOBILE RESPONSIVE*/

@media screen and (max-width: 320px) {

  header {
    width: 100%;
    background-position: bottom;
  }

  .topNav ul {
    margin: 0;
    position: absolute;
    top: 10px;
    left: 40px;
    margin-left: auto;
    margin-right: auto;
  }


  img.spLogo {
    display: inline-block;
    width: 50px;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    top: 30px;
    left: 110px;
  }

  h5.spLogo {
    display: none;
  }

  h1.title {
    font-size: 26px;
    padding-top: 100px
  }

  h5.title {
    padding-bottom: 20px;
  }

  article {
    width: 90%;
    background-color: white;
    /*height: 900px;*/
    padding-right: 15px;
    padding-left: 15px;
    display: block;
    clear: both;
  }

  article h1 {
    font-size: 35px;
    width: 75%;
  }

  .byline img {
    display: none;
  }

  p.blogName {
    display: none;
  }

  p.on {
    display: none;
  }

  a.blogDate {
    display: inline;
  }

  article p {
    margin-top: 30px;
    margin-bottom: 0;
  }

  ul.blogButtons {
    margin-top: 0;
    position: relative;
    left: 15px;
    display: block;
  }

  .blogButtons a {
    display: none;
  }

  .blogButtons li {
    display: inline-block;
  }

  #commentsLi::after {
    content: url(../img/bubblesmall.png);
    position: relative;
    background: #253859;
    background-size: 800px;
    padding-top: 8px;
    padding-right: 5px;
    padding-left: 7px;
    margin-left: -5px;
    top: 2px;
  }

  #readLaterLi::after {
    content: url(../img/cloudsmall.png);
    position: relative;
    background: #253859;
    background-size: 800px;
    padding-top: 8px;
    padding-right: 5px;
    padding-left: 7px;
    margin-left: -5px;
    top: 2px;
  }

  #shareLi::after {
    content: url(../img/sharesmall.png);
    background: #253859;
    background-size: 800px;
    padding-top: 6px;
    padding-right: 5px;
    padding-bottom: 2px;
    padding-left: 7px;
    margin-left: -5px;

  }

  article::after {
    content: '';
  }

  aside {
    width: 90%;
    /*height: 450px;*/
    display: block;
  }

  section.aboutAnne {
    display: none;
  }

  aside img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .ad {
    width: 100%;
    margin-right: auto;
  }

  .sideAd {
    display: block;
    margin-left: auto;
    margin-right: auto;
    background: linear-gradient(
    rgba(30, 144, 255, 0.45),
    rgba(30, 144, 255, 0.45)
    ), url("../img/padleboarding.png");
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
  }

  a.adLink {
    display: block;
    text-align: right;
    margin-right: 0;
    text-decoration: underline;
    font-size: 14px;
    color: gray;
  }

  .popularPosts {
    width: 90%;
    background-color: white;
    border-top: 1px solid gray;
    display: inline-block;
    margin-left: 20px;
    margin-top: 10px;
  }

  .popularPosts h1 {
    font-size: 20px;
    font-family: 'PT Sans', Helvetica, Sans-serif;
    color: #253859;
    display: block;
    margin-right: auto;
    margin-left: auto;
  }

  .postCover {
    width: 90%;
    height: 300px;
    display: block;
    margin-left: 15px;
  }

  h4.postTitle {
    display: block;
    font-size: 25px;
    font-family: 'Open Sans', Helvetica, Sans-serif;
    color: #253859;
    position: relative;
    padding-top: 200px;
    margin-left: 20px;
    text-align: left;
  }


  footer {
    top: 3650px;
    width: 100%;
    display: block;
  }

  .footerLockup {
    display: block;
    position: relative;
    top: 50px;
    width: 70%;
    margin-left: 50px;
  }

  .ironYardLogo {
    display: block;
    height: 75px;
    width: 75px;
    margin-left: 70px;
  }

  p.copyrightText {
    padding: 0;
    font-size: 14px;
    text-align: center;
    margin-top: 0;
  }

  .footerNav {
    display: block;
    text-align: center;
    padding: 0;
    position: relative;
    top: -145px;
    right: 20px;
  }

}
